In [80]:
import pandas as pd 
import matplotlib.pyplot as plt
import warnings
import seaborn as sb
import numpy as np
%matplotlib 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm    import   SVC
from sklearn import metrics

Using matplotlib backend: TkAgg

In [81]:
warnings.filterwarnings('ignore')
data = pd.read_csv('bitcoin.csv')

In [4]:
data.describe()

               Open          High           Low         Close
count   3793.000000   3793.000000   3793.000000   3793.000000
mean   11233.252307  11529.297996  10904.581545  11240.315766
std    15421.568722  15827.119004  14960.319732  15422.533996
min       13.300000     13.400000     13.200000     13.300000
25%      450.300000    459.600000    441.900000    451.400000
50%     5208.300000   5322.900000   5033.700000   5209.100000
75%    14976.200000  15648.300000  13902.300000  15043.000000
max    67528.700000  68990.600000  66334.900000  67527.900000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3793 entries, 0 to 3792
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3793 non-null   object
 1   Open    3793 non-null   float64
 2   High    3793 non-null   float64
 3   Low     3793 non-null   float64
 4   Close   3793 non-null   float64
 5   Vol.    3793 non-null   object
dtypes: float64(4), object(2)
memory usage: 177.9+ KB

In [9]:
plt.close()
plt.figure(figsize=(12,5))
plt.plot(data['Close'])
plt.title('Bitcoin close price',fontsize=15)
plt.ylabel('price in doller ')
plt.show ()

In [5]:
data.isnull().sum()

Date     0
Open     0
High     0
Low      0
Close    0
Vol.     0
dtype: int64

In [82]:
feature= ['Open','High','Low','Close']
plt.close()
plt.subplots(figsize=(10,10))
for i,col in enumerate(feature):
    plt.subplot(2,2,i+1)
    sb.distplot(data[col])
plt.show()

In [83]:
splitted= data['Date'].str.split('-',expand=True)
data['year']=splitted[0].astype('int')
data['month']=splitted[1].astype('int')
data['day']=splitted[2].astype('int')

In [58]:
data.head()

,Date,Open,High,Low,Close,Vol.,year,month,day,is_quarter_end,Open -Close,Low -High,target
0,2013-01-01,13.5,13.6,13.2,13.3,28.41K,2013,1,1,0,0.2,-0.4,0
1,2013-01-02,13.3,13.4,13.2,13.3,17.97K,2013,1,2,0,0.0,-0.2,1
2,2013-01-03,13.3,13.5,13.3,13.4,18.03K,2013,1,3,0,-0.1,-0.2,1
3,2013-01-04,13.4,13.5,13.3,13.5,29.64K,2013,1,4,0,-0.1,-0.2,0
4,2013-01-05,13.5,13.6,13.3,13.4,21.33K,2013,1,5,0,0.1,-0.3,0

In [84]:
data_grouped= data.groupby('year').mean()

plt.close()
#plt.subplots(figsize=(10,10))
feature= ['Open','High','Low','Close']
for i,col in enumerate(feature):
    plt.subplot(2,2,i+1)
    data_grouped[col].plot.bar
plt.show()

In [85]:
data['is_quarter_end'] = np.where (data['month']%3==0,1,0)
data["Open -Close"]=data["Open"]-data["Close"]
data["Low -High"]=data["Low"]-data["High"]
data['target']=np.where(data['Close'].shift(-1)>data['Close'],1,0)

In [89]:
feature= data[["Open -Close","Low -High","is_quarter_end"]]
target= data['target']
scaler= StandardScaler()
feature= scaler.fit_transform(feature)
x_train,x_valid , y_train,y_valid= train_test_split(feature,target,test_size=0.2)

In [102]:
model=[LogisticRegression(),DecisionTreeClassifier(),KNeighborsClassifier()]
for i in range(3):
    model[i].max_iter=200000
    model[i].fit(x_train,y_train)
    model[i].score(x_valid,y_valid)
    print('traininig Accuracy:','metric.roc_auc_Score(y_train,model.predict_proba(x_train)[:,1])')
    print( model[i].score(x_train,y_train))
    print('valid Accuracy:','metric.roc_auc_Score(y_valid,model.predict_proba(x_valid)[:,1])')
    print( model[i].score(x_valid,y_valid))

traininig Accuracy: metric.roc_auc_Score(y_train,model.predict_proba(x_train)[:,1])
0.5332893869479235
valid Accuracy: metric.roc_auc_Score(y_valid,model.predict_proba(x_valid)[:,1])
0.5151515151515151
traininig Accuracy: metric.roc_auc_Score(y_train,model.predict_proba(x_train)[:,1])
0.998022412656559
valid Accuracy: metric.roc_auc_Score(y_valid,model.predict_proba(x_valid)[:,1])
0.5125164690382081
traininig Accuracy: metric.roc_auc_Score(y_train,model.predict_proba(x_train)[:,1])
0.6855636123928807
valid Accuracy: metric.roc_auc_Score(y_valid,model.predict_proba(x_valid)[:,1])
0.5059288537549407